%content {
	position: absolute;
	content: '';
}

%openSans-regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

%openSans-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

%raleway-regular {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

%raleway-bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightRed: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

$blue1: hsl(217, 28%, 15%);
$blue2: hsl(218, 28%, 13%);
$blue3: hsl(216, 53%, 9%);
$blue4: hsl(219, 30%, 18%);

$shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.35);

$transition: all .2s linear;